* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  overflow: hidden;
}

textarea {
  font-size: 16px;
}

.dixie-outer {
  width: min(100vw, max(600px, 75vh));
  /* safe-area helps iPad safari and chrome from ending up too tall */
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  margin: 0px auto; /* Center the container horizontally */
  padding: 4px;
  border: 4px solid #fff;
  background-color: #fafafa;
  overflow-y: auto;
}

.dixie-outer-flex {
  /* we want the outer container to contain flex elements */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dixie-flex {
  /* Flex grow area with internal scrolling */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}